HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!user/sign-in/src/main/**/build/
!user/sign-in/src/test/**/build/
dump.rdb
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!user/sign-in/src/main/**/bin/
!user/sign-in/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!user/sign-in/src/main/**/out/
!user/sign-in/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
